body {
  margin: 0;
  height: 100%;

  background-size: cover;
  font-size: 16px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.avatar {
  width: 250px;
  border-radius: 28px;
}
.info p {
  color: rgb(71, 180, 180);
  font-style: italic;
}
.container {
  max-width: 75%;
  margin: auto;
}
.contacts {
  background: rgb(71, 180, 180);
  padding: 15px;
}
